<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">🎯 W.ai</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/about.html">About</a>
        <a class="page-link" href="/categories.html">Categories</a>
        <a class="page-link" href="/tags.html">Tags</a>
      </div>
    </nav>
  </div>
</header>